@model CarsStore.Models.Publication
@{
    String[] pictures = ViewData["pictures"] as String[];
    string clientPicture = ViewData["clientPicture"] as string;
    CarsStore.Models.Client client = ViewData["client"] as CarsStore.Models.Client;
    IEnumerable<CarsStore.Models.Commentaire> comments = ViewBag.comments;
}


<p>
    @Html.ActionLink("Back to List", "IndexClient")
</p>

<div class="container border mx-auto">

    <div class="row">

        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item">
                        <img class="card-img-top" src="@Url.Content(String.Format("~/resources/vehicules/{0}", Model.Vehicule.MainPicture))" alt="First slide">
                    </div>
                    <div class="carousel-item active">
                        <img class="card-img-top" src="@Url.Content(String.Format("~/resources/vehicules/{0}", pictures[0]))" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="@Url.Content(String.Format("~/resources/vehicules/{0}", pictures[1]))" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="@Url.Content(String.Format("~/resources/vehicules/{0}", pictures[2]))" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="@Url.Content(String.Format("~/resources/vehicules/{0}", pictures[3]))" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only primary">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- info -->
        <div class="col col-md-5 align-self-center">
            <div class="" style="margin-left: 15%;">
                <h4><b>Company : </b>@Model.Vehicule.Company</h4>
                <h4><b>Model : </b>@Model.Vehicule.Model</h4>
                <h4><b>Engine : </b>@Model.Vehicule.Engine</h4>
                <h4><b>Power : </b>@Model.Vehicule.Power hr</h4>
                <h4><b>Price : </b>@Model.Vehicule.Price €</h4>
                <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target=".bd-example-modal-lg">Buy</button>
            </div>
        </div>
    </div>
</div>



<div class="container mt-3 text-center w-50  align-items-center">
    <div class="mt-1 text-center align-items-center align-self-center">
        <div class="row border rounded p-2">
            <div class="col-3">
                <img src="@Url.Content(String.Format("~/resources/clients/{0}", client.Picture))" class="rounded-circle" style="width: 80px; height: 80px;" />
            </div>
            <div class="col">
                <form class="ml-4" action="@Url.Action("CreateComment", "Publication", new { id = Model.Id })">
                    <div class="form-group text-left">
                        <b>@client.LastName @client.FirstName</b>
                        <input type="text" class="form-control form-control-sm" name="commentaire" style="display: inline-block;" />
                        <button class="btn btn-light">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 p-2 text-center w-50">
    @foreach (CarsStore.Models.Commentaire item in comments)
    {
        <div class="border rounded mt-1 p-1 text-center align-items-center">
            <div class="row">
                <div class="col-3">
                    <img src="@Url.Content(String.Format("~/resources/clients/{0}", item.Client.Picture))" class="rounded-circle" style="width: 60px; height: 60px;" />
                </div>
                <div class="col">
                    <div class="text-left">
                        <b>@item.Client.LastName @item.Client.FirstName</b>
                        <p>@item.CommentText</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Do you really want to buy it ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              
                    <div class="card mx-auto mb-1" style="width: 80%;">
                        <div class="card-body">
                            <div class="card border-0 text-center">
                                <div class="card-img-top">
                                    <img id="@Model.Vehicule.Id mainPicture" src="@Url.Content(String.Format("~/resources/vehicules/{0}", Model.Vehicule.MainPicture))" style="width: 400px; height: 300px;" class="rounded" />
                                </div>
                                <div class="card-body mt-1">
                                    <h6 style="display: inline-block;"><b>Company : </b></h6>
                                    <h6 id="@Model.Vehicule.Id company" style="display: inline-block;">@Model.Vehicule.Company</h6>
                                    <br />

                                    <h6 style="display: inline-block;"><b>Model : </b></h6>
                                    <h6 id="@Model.Vehicule.Id model" style="display: inline-block;">@Model.Vehicule.Model</h6>
                                    <br />

                                    <h6 style="display: inline-block;"><b>Engine : </b></h6>
                                    <h6 id="@Model.Vehicule.Id engine" style="display: inline-block;">@Model.Vehicule.Engine</h6>
                                    <br />

                                    <h6 style="display: inline-block;"><b>Power : </b></h6>
                                    <h6 id="@Model.Vehicule.Id power" style="display: inline-block;">@Model.Vehicule.Power hr</h6>
                                    <br />

                                    <h6 style="display: inline-block;"><b>Price : </b></h6>
                                    <h6 id="@Model.Vehicule.Id price" style="display: inline-block;">@Model.Vehicule.Price €</h6>
                                    <br />
                                    <a href="@Url.Action("AchatClient", "Publication", new { id = Model.Vehicule.Id })" class="btn btn-info mt-1 ml-5">confirm</a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>