@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    
    <ul class="navbar-nav">
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link" href="@Url.Action("Index", "Client")">
                    Clients
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="@Url.Action("Index", "Vehicule")">
                    Vehicules
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="@Url.Action("Index", "Publication")">
                    Publications
                </a>
            </li>
        }
        else if (User.IsInRole("Client"))
        {

            <li class="nav-item dropdown">
                <a class="nav-link" href="@Url.Action("IndexClient", "Publication")">
                    Publication
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="@Url.Action("IndexAchat", "Publication")">
                    Cart
                </a>
            </li>
        }
        <li class="nav-item">
            <button class="btn" style="background-color: transparent;">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </button>
        </li>
        <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item"><a href="@Url.Action("Register", "Account")" class="nav-link">Register</a></li>
        <li class="nav-item"><a href="@Url.Action("Login", "Account")" class="nav-link">Log in</a></li>
    </ul>
}
